.icon {
  border: 0px;
  background-color: white;
}

.functions {
  float: right;
}

.header {
  background-color: lightgrey;
  margin:auto;
  height: 50px;
}
h1 {
  font-size:xx-large ;
  padding:2px;
}

.actions {
  margin-left: 100px;
}

table {
  width: 100%;
}

.container {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;

}
.search-form-field {
  width: 80%;
}

.addTask {
  margin-left: 90%;
  margin-top: 24px;
}

.nav-wrapper {
  background-color: rgb(8, 34, 90);
}
/* input.ng-invalid.ng-touched {border: 1px solid red} */

.container {
  text-align: center;
  margin-left: 185px;

}
.searchBar {
  margin-left: 128px;
}

.search-div {
  width: 70%
}

.logoutButton {
  background-color: rgb(8, 34, 90);
  border: none;
  height: 64px;
  width: 90px;
}

.logoutButton:hover {
  background-color: rgb(82, 220, 245);
  color: black;
}

h1 {
  top: -18px;
  background-color: rgb(8, 34, 90);
  font-size: xx-large;
  color: white;
  text-align: center;
  position: absolute;
}

.stickyTable {
  height: 360px;
  overflow: auto;
}

table {
  width: 100%;
}

.paginatorSticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}
